
/* define the styles for Chatty */
@font-face {
    font-family: Poppins;
    src: url(../../fonts/poppins.ttf);
}

/* font family for bold text */
@font-face {
    font-family: Poppins;
    src: url(../../fonts/poppins_bold.ttf);
    font-weight:bold;
}


:root{
    --brand-color-orange:rgb(243, 79, 14);
    --brand-color-orange-light:rgb(248, 145, 110);
    --brand-color-white:rgb(252, 247, 247);
}

*{
    font-family:poppins;
}


/* utility class from the root colors */
/* cs-> custom */
.bg-cs-orange{
    background:var(--brand-color-orange);
}

.bg-cs-orange-light{
    background:var(--brand-color-orange-light);
}
.bg-cs-white{
    background:var(--brand-color-white);
}

.text-cs-orange{
    color:var(--brand-color-orange);
}
.text-orange{
    color:var(--brand-color-orange);
}
.text-cs-white{
    color:var(--brand-color-white);
}


/* hero logo styling */

.hero-logo-1{
    transform: scale(0.9);
}


/* custom styles for the navbar */
.fixed-navbar{
    position: fixed;
}


/* dropdown items styling */

.dropdown-item:hover{
    background:var(--brand-color-orange);
    color:white;
}

/* get started button styling */
.get-started{
    transition:.4s;
}
.get-started:hover{
    background:var(--brand-color-orange);
    color:var(--brand-color-white);
}

/* Editable */
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2)); 
}
  
.waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    /* text-transform: uppercase; */
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i)); 
}
  
  @keyframes waviy {
    0%, 40%, 100% {
      transform: translateY(0); }
    20% {
      transform: translateY(-20px); } }
  
  #preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: #fff; 
  }
  .waviy span{
      color: rgb(242 16 102);
      color: rgb(243, 79, 14);
  }
  
  /* Styles to customise nav bar*/
  ::-webkit-scrollbar {
      width: 8px;
      border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
      background:none !important;
  }
  ::-webkit-scrollbar-thumb {
      background: #fd4520;
      border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background: rgb(50, 80, 255);
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background:rgba(255, 51, 51, 0.925)
  }
  
  a {
      text-decoration: none;
      font-size: 20px;
  }