*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.into{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;

}

.intro-btn button{
    padding: 10px 19px;
    border: none;
    border-radius: 20px;
    background-color: orangered;
}